.header-cart{
    position: absolute;
    min-width: 42rem;
    border: 1px solid #ccc;
    top: 100%;
    right: 0;
    will-change: opacity,transform;
    transform-origin: top right;
    transition: all ease 0.4s;
    box-shadow: 10px 10px 10px black;
    z-index: 1;
    background-color: white;
    color: #53382c;
    pad: 2rem 0 2rem 2rem;
    animation: apear 0.4s ease;
    
}

@keyframes apear{
    from{opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1)
    }
}


.header-cart::before{
    content: "";
    position: absolute;
    right: 7%;
    top: -14px;
    border-color: transparent transparent white transparent;
    border-style: solid ;
    border-width: 8px 8px;
    filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.3));
}




.in-cart{
    
    padding-bottom: 20px;
   

    
}

.in-cart>div{
    max-height: 50vh;
    overflow-y: scroll;
}

.in-cart :global(.empty){
    text-align: center;
    height: 100%;
    padding: 2rem 2rem 0 2rem;
 
    
}
.in-cart :global(.notempty){
    padding: 2rem;
}

.in-cart :global(.empty) i{
    font-size: 5rem;
    color: #556B2F;
}

.in-cart :global(.empty) p{
    font-size: 1.4rem;
    color:rgb(158, 158, 158) ;
    padding-bottom: 10px;
}


.total-price{
    padding: 0 2rem 2rem 2rem;
}

.price-section{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.price-section :global(.left){
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    color: #000;
}

.price-section :global(.right){
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: red;
}

.total-price button{
    padding: 10px 0;
    background-color: #556B2F;
    color: white;
}

.total-price a{
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0,0.5);
  }
  
  /* Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0,0.8);
  } */









