
.header-cart-item>div{
    display: flex;
    align-items: center;
    height: 10rem;
}



.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    height: 100%;;
    justify-content: space-around;
}

.left{
    height: 100%;
    width: 10rem;
}

.left img{
    object-fit: contain;
    height: 100%;
    max-width: 100%;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input{
    width: 2rem;
    margin: 0 0.5rem;
    background-color: white;
    cursor: text;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header-cart-item button{
    border:none;
    color: rgb(255, 0, 0);
    background-color: transparent;
    width: 1.5rem;
    font-size: 1.4rem;
    font-weight: 800;

}

.dsc{
    color: rgba(0, 0, 0,0.5);
    font-size: 1rem;
}




