.footer{
    min-height: 3rem;
}

.footer>div{
    height: 100%;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    height: 5rem;
    height: 100%;

}

.info{
    margin: 0 2rem;
}


.info i{
    font-size: 2rem;
    color: black;
}
