.header{
    /* border-top: solid 10px #CCC; */
    background: #fff;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;   
    height: 100%; 
    cursor: pointer;
}




.logo img{
   width: 20rem;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:2rem ;

}

.form{
    position: relative;
    width: 260px;
}

.tool{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.form input{
    outline: none;
    border: 1px #000 solid;
    height: 3rem;
    padding: 0 3rem 0 1rem;
    width: 100%;
   
}


.form button{
    border: none;
    background-color: white;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    
}

.form i{
    font-size: 1.4rem;
}

.nav{
    
}
.lv-0>ul{
    display: flex;
    justify-content: flex-end;
}


.lv-0>ul>li{
    color: #000000;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 600;

    
}
.lv-0>ul>li>a{
    display: block;
    padding: 4rem 3rem;
    color: inherit;
}

.lv-0>ul>li:not(.cart):hover{
    background-color: 	#556B2F;
    color: #fff;
}




.lv-0>ul>li:hover .lv-1{
    opacity: 1;
    transform: scale(1);
}



.lv-1{
    position: absolute;
    background-color: #ccc;
    width: 100%;
    left: 0;
    top: 100%;
    padding-top: 1.5rem;
    opacity: 0;
    transform: scale(0);
    transition: opacity ease 0.5s;
    will-change: opacity;
    z-index: 1;

}

.lv-1 a{
    display: block;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.lv-1 .main-title{
    color: #808000;
   margin-bottom: 0.5rem;
   transition: all ease 0.5s;
   will-change: color;
   font-weight: 700;
}


.lv-1 .main-title:hover{
    color: #556B2F;
}

.lv-1>div>ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.lv-1-content>li:not(:first-child):not(.double):hover{
    background-color: 	#808000;
}

.user, .cart{
    position: relative;
}

.header-nav-btn{
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
    line-height: 1.5rem;
    padding: 4rem 3rem;
    color: #000;
    cursor: pointer;
}

.header-nav-btn span{
    cursor: pointer;
}



.double{
    display: flex 
}

.double li:hover{
    background-color: 	#808000;
}


